body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(219, 232, 232);
}

.controls {
    margin: 20px 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

#arrayContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 65vw;
    height: 30vw;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#arrayBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 65vw;
    height: 5vw;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align:justify;
    overflow: hidden;
}

.bar {
    margin: 0.2vw;
    border: 0.1vw solid gray;
    background-color: rgb(2, 173, 59);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: height 0.2s;
    width: 8vw;
    text-align: center;
}

.arrBar {
    display:flex;
    align-items: center;
    height: 80%;
    margin: 0.2vw;
    border: 0.1vw solid gray;
    background-color: rgb(8, 193, 70);
    border-radius: 35%;
    transition: height 0.2s;
    width: 8vw;
    text-align: center;
}

#arrayBox span {
    text-align: center;
    width: 100%;
    color: black;
    font-size: calc(1vw + 0.2em);
}

.active-bar {
    background-color: #e74c3c; /* Red color for the active bar */
}

label {
    margin: 0 10px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

input[type="range"], select {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

input[type="range"]:focus, select:focus {
    border-color: green;
}

button {
    margin: 5px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: darkslategrey;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgb(1, 119, 1);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}
p {
    padding: 20px;
}
.icons {
    display: flex;
}
.icon > a > svg {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    width: 30px;
    margin: 1vw;
}
@media (max-width: 600px) {
    .controls {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
    #arrayContainer {
        width: 90%;
        height: 250px;
    }
    #arrayBox {
        width: 90%;
        height: 7vw;
        margin-top: 5px;
    }
}